.collection-banner-description {
    max-width: 100%;
    text-align: left;
}

#snize_results {
    max-width: 1500px;
    margin: 40px auto;
    padding: 0 24px;
}

.collection-banner-description blockquote {
    text-align: left;
    padding: 0;
}


.anouncement-location-wrapper {
    position: relative;
}

.anouncement-location-wrapper .overlay-location-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.anouncement-location-wrapper .location-inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.anouncement-location-wrapper .location-inner-wrapper p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

.expert-help-header-link .icon {
    position: relative;
    border-radius: 9999px;
    background-color: rgb(var(--text-color) / 3.9%);
    padding: .5rem;
}

.expert-help-header-link {
    display: grid;
    width: max-content;
    grid-auto-flow: column;
    align-items: center;
    column-gap: .75rem;
}

@media (min-width: 48rem) {
    .text-with-icons--desktop-horizontal .text-with-icons__item {
        justify-content: center;
    }
}

@media (max-width: 768px) { 
    .expert-help-header-link .icon {
        width: 2.25rem;
    }
}

